<html lang="en">
<head>
    <% if( username ){ %>
      <h1>Welcome to Tiny App, <%= username['email'] %> !</h1>
      <form action="/logout" method="POST">
        <input type="submit" class="btn btn-dark" value="Logout">
      </form>
    <% } else { %>  
      <h1>Welcome to Tiny App!</h1>
    </form>
    <form action="/login" method='GET'>
        <button type='submit' name= 'edit' class='btn btn-success'>Login</button>
    </form>
   <% } %>   
</head>
</html>