<html lang="en">
<head>
    <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1>Login to Tiny App!</h1>
    <form action="/login" method='POST'>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="loginEmail" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" >
        </form>
</head>
</html>