<%- include partials/_headers.ejs %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body style="font-size:20px; padding:50px;">
    <% if( username ){ %>
    <a href= "/urls" class="btn btn-secondary">See my URLs</a>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" class='btn btn-success' value="Submit">
    <% } else { %>
      <br />   
      <a href="/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Please login to add a new link.</a>
    <% } %>   
    </form>
  </body>
</html>