<!-- views/partials/head.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <ul>
        <% for(var url in urls) { %>
        <li><%= url %> - <%= urls[url] %></li>    
        <% } %>
    </ul>
    <a href='#'></a>
</body>
</html>