<%- include partials/_headers.ejs %>

<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
    <%= shortURL %>
    <%= urls[shortURL] %>
    </form>
      <form action='/urls/<%= shortURL %>' method='POST'>
        <h2>Update the URL</h2>
          <label for="url">Enter URL: </label>
          <input id="url" type="text" name="new_url" placeholder="http://">
        <button type='submit' class='btn btn-success'>Update URL</button>
    </form> 
</body>
</html>